@model Nop.Web.Areas.Admin.Models.Logistics.GoodsModel

@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="goods-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.Logistics.Goods.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    var eventMessage = new AdminTabStripCreated(this.Html, "goods-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}