@model Nop.Web.Areas.Admin.Models.Logistics.ConsignmentOrderModel

@{
    ViewBag.Title = T("Admin.Logistics.ConsignmentOrder.AddNew").Text;
    Html.SetActiveMenuItemSystemName("ConsignmentOrder");
}

<form asp-controller="ConsignmentOrder" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Logistics.ConsignmentOrder.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Logistics.ConsignmentOrder.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

