@model Nop.Web.Areas.Admin.Models.Logistics.TripModel
@using Nop.Services
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.Trip.Fields.Ship")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CarId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="CarId" asp-items="Model.AvailableCars" />
                    <span asp-validation-for="CarId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DriverId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="DriverId" asp-items="Model.AvailableDrivers" />
                    <span asp-validation-for="DriverId"></span>
                </div>
            </div>
        </div>
    </div>
</div>